// main.scss
#input-tournament-id {
    justify-content: end;
}

.divIndex {
    margin: 10vh auto;
    width: 75%;
    background-color: lightskyblue;
    height: 50vh;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 10vh auto;
    width: 75%;
}
   
.box1 {
    float:left;
    width: 24%;
    height: 200px;
    border: 2px solid lightblue;
    border-radius: 25px;
}

.box2 {
    float:left;
    width: 24%;
    height: 200px;
    border: 2px solid lightblue;
    border-radius: 25px;
}

.box3 {
    float:left;
    width: 24%;
    height: 200px;
    border: 2px solid lightblue;
    border-radius: 25px;
}

.form-control {
    width: 75%;
    display: inline-block;
    margin-left: 8vh;
    display: block;
}

.divCreateTournament {
    margin: 10vh auto;
    width: 50%;
    background-color: lightskyblue;
    height: 50vh;
}

.divCreateTournament label {
    padding-left: 8vh;
    padding: 4vh 4vh 2vh 4vh;
    margin-bottom: 8px;
    display: inline-block;
}

.divCreateTournament span {
    display: block;
    font-size: small;
    padding-left: 8vh;
}

form button {
    text-align: center; 
    display: block; 
    margin: 0 auto; 
    margin-top: 2vh;
    display: block;
}

.tournamentComplete {
    margin-top: 5vh;
    text-align: center;
    display: block;
}

// Imports
@import 'base';
