<p id="logo">Tournament App</p>
<div *ngIf="!editingIsEnabled">
  <h2 class="nameOfTournament">{{ tournament.name }}</h2>
  <hr style="width: 30%" />
  <div id="tournamentData">
    <h2>Description:</h2>
    <a>{{ tournament.description }}</a>
    <h2>Sharing:</h2>
    <p>Url Slug: {{ tournament.url_slug }}</p>
    <p>Player Code: work in progress</p>
  </div>
  <div class="footer">
    <button mat-raised-button style="margin: 1vh 40vh 0 0" (click)="enableEditing()">Edit</button>
  </div>
</div>

<div *ngIf="editingIsEnabled">
  <div class="editTournamentData textAlign">
    <input matInput id="editTournamentName" class="nameOfTournament" value="{{ tournament.name }}" />
    <hr style="width: 30%" />
  </div>
  <div id="tournamentData">
    <h2>Description:</h2>
    <textarea style="width: 100%">{{ tournament.description }}</textarea>
    <h2>Sharing:</h2>
    <a>Url Slug: </a>
    <input matInput class="editTournamentData" value="{{ tournament.name }}" />
    <p>Player Code: work in progress</p>
  </div>
  <div class="footer">
    <button mat-raised-button style="margin: 1vh 40vh 0 0" (click)="enableEditing()">Save</button>
  </div>
</div>
