@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

#logo {
  font-family: 'Pacifico';
  font-size: 2.5rem;
  margin-top: 2vh;
  margin-left: 3vh;
}

body {
  font-family: 'Poppins';
  font-size: 15px;
}

#nameOfTournament {
  text-align: center;
  font-family: 'Koulen', cursive;
  font-size: 30px;
  margin-bottom: 1vh;
}

#tournamentData {
  font-family: 'Poppins';
  font-size: 15px;
  margin: 10vh 40vh 0 40vh;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: right;
  border: 1px solid;
  height: 50px;
}

.editTournamentDataForm {
  font-family: 'Poppins';
  font-size: 15px;
  margin: 10vh 40vh 0 40vh;
}

#editTournamentName {
}
