{% extends "../templates/base.njk" %}

{% block content %}
<h1 style="text-align: center; padding-top: 8vh;">Online Tournament Management</h1>
<hr style="width:80%; margin: auto;">
<p style="text-align: center; margin-top: 2vh;">Create a Tournament and share the results online!</p>
<div id="createTournamentDiv" class="divCreateTournament" style="height: 60vh">
    <form id="tournament-form">
            <label for="name"> Tournament Name:</label>
            <input id="inputName" type="text" name="name" class="form-control" placeholder="Name...">
            <span id="inputValidationName"></span>
            <label for="description"> Description: </label>
            <input id="inputDescription" type="text" class="form-control" name="description" placeholder="Description...">
            <span id="inputValidationDescription"></span>
            <label for="admin" > Admin Code: </label>
            <input id="inputAdminCode" type="text" class="form-control" name="admin_code" placeholder="Admin code...">
            <span id="inputValidationAdminCode"></span>
            <span>This code is only for the admin.</span>
            <button type="submit" style="display: block" id="submitButton" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
 {% block scripts %} 
 <script src="./js/createTournament.js"></script>
 {% endblock %}