{% extends "../templates/base.njk" %}

{% block content %}
<h1 style="text-align: center; padding-top: 8vh;">Online Tournament Management</h1>
<hr style="width:80%; margin: auto;">
<p style="text-align: center; margin-top: 2vh;">Create a Tournament and share the results online!</p>
<div class="divForHome2" style="height: 80vh">
    <form action="http://localhost:8000/tournaments" method="post">
        <p style="display: inline-block"> Tournament Name:</p>
        <input type="name" name="name" class="form-control" id="tournament_name" placeholder="Name">
        <div>
            <p style="display: inline-block;"> Admin Code: </p>
            <input type="text" class="form-control" id="admin_code" name="admin_code" placeholder="Type in a personal code">
            <span>This code is only for the admin</span>
            <p style="display: inline-block;"> Players Code: </p>
            <input type="text" class="form-control" id="player_code" name="player_code" placeholder="Type in a players code">
            <span>This code can be shared with the participants</span>
            <button type="submit" value="Submit" class="btn btn-primary" style="text-align: center; display: block; margin: 0 auto; margin-top: 2vh;">Create Tournament</button>
        </div>
    </form>
</div>
{% endblock %}
