{% extends "../templates/base.njk" %}

{% block content %}
 <div class="divIndex">
    <h1 style="text-align: center; padding-top: 8vh;"><strong><u>Create a Tournament now!</u></strong></h1>
    <a href="/createTournament.html"><button type="button" class="btn btn-primary" style="text-align: center; display: block; margin: 0 auto; margin-top: 20vh;">Click here</button></a>
</div>
<div class="container">
    <div class="box1">
        <p style="padding-left: 2vh;">First step:</p>
    </div>
    <div class="box2">
        <p style="padding-left: 2vh;">Second step:</p>
    </div>
    <div class="box3">
        <p style="padding-left: 2vh;">First step:</p>
    </div>
</div>
{% endblock %}
