<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" style="margin-left: 5vh; margin-right: 12vh" href="/index.html"
    ><h2>Sports Tournament</h2></a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/createTournament.html">Create Tournament</a>
      <a class="nav-item nav-link" href="#">Join Tournament</a>
      <a class="nav-item nav-link" href="#">Admin</a>
    </div>
  </div>
  <form class="form-inline" id="input-tournament-id">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." />
      <span class="input-group-btn">
        <button
          class="btn btn-default"
          style="color: white; background-color: #4db8ff; margin-right: 5vh"
          type="button"
        >
          Go!
        </button>
      </span>
    </div>
  </form>
</nav>
