<!DOCTYPE html>
<html lang="en">

{% include "templates/partials/head.njk" %}

<body>

  {% block content %}
    Hello World
  {% endblock %}

  {% include "templates/partials/end.njk" %}

</body>
</html>
