{% extends "../templates/base.njk" %}

{% block content %}
<div id="tournamentData"></div>
<script>
    const tournamentId = await router.getTournamentIdParam();
    const tournamentData = await fetch("apirul/tournaments/" + tournamentid);
    const container = document.getElementById("tournamentData");
    container.innerHTML = getTournamentHtml(tournamentData)

    function getTournamentHtml(data) {

    }
</script>
{% endblock %}
