{% extends "../templates/base.njk" %}
{% set page_title = "Tournaments" %} 
{% block content %}
Work in progress
{% endblock %}

 {% block scripts %} 
 <script src="/js/tournamentsRouter.js"></script>
 {% endblock %}